name: Generate Movement PDF Files
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    container: codello/lilypond:stable
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Typeset music
        shell: bash
        run: |
          for w in nokki-d4 nokki-d6; do
            for m in $w/lily/??-*; do
              BUILD_TAG="${GITHUB_SHA}" BUILD_USER="${GITHUB_ACTOR}" make -C $m
            done
          done
      - name: Archive PDF files
        uses: actions/upload-artifact@v4
        with:
          name: movements-pdf
          path: "*/lily/*/*.pdf"
